@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #038467;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --amarelo: #ffd548;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --marrom: #4f2b18;
    --rosa-claro: #fac0c0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}

.container__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 10vw;
    margin: 1em 1em;
    padding: 1em;
}

.nome__titulo {
    font-size: 50px;
    color: var(--amarelo);
    text-transform: lowercase;
    text-shadow: 2px 2px black;
}

.descrição__funcionario {
    position: relative;
    top: 50%;
    width: 16vw;
}

.descrição__imagem {
    top: 50%;
    width: 10vw;
    margin: 0 2.75em;
}

.descrição__titulo {
    font-size: 30px;
}