.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 25px;
    font-weight: 700;
    padding: 0.5em 0;
}

.swiper-slide img {
    max-width: 85.5%;
    margin: 3.5em 1em;
    padding: 1em;
    background: var(--amarelo);
    border-radius: 30px;
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.25);
}


.swiper-button-prev,
.swiper-button-next {
    display: none;
}


.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1em;

}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.botões {
    display: flex;
}


.descrição__titulo {
    color: var(--marrom);
    font-weight: 700;
}

.descrição__titulo-livro {
    color: var(--azul);
    font-size: 20px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto {
    font-size: 18px;
}

.botões__ancora {
    background-color: var(--marrom);
    padding: 1em 2.7em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    margin: 0.5em 2em;
}

.botões__item {
    margin: 0 0.5em;
}